*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    /* min-width: 290px;
    max-width: 900px; */
    /* margin: 15px 10px;
    text-align: center;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
    /* border: 1px solid #777; */
    width: 100%;
    /* background-color: lightblue; */
}
/* .search-bar {
    float: right;
    margin: 5px 15px ;
} */

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2{
    color: darkblue;
}
h3{
    margin: 10px 0;
}
#date{
    color: teal;
}
form input,
form button{
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
}
form button{
    width: 70px;
}

.content{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
    height: 200px;
    /* width: 250px; */
}
.content .box-1{
    min-width: 270px;
    margin: 10px;
    /* border: 1px solid #ccc; */
    border-top: 10px solid #FF4D49;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 2px;

    /* Box Shadow */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  /* box-shadow:         inset 0 0 10px #000000; */
}

.content .box-2{
    min-width: 270px;
    margin: 10px;
    /* border: 1px solid #ccc; */
    border-top: 10px solid #000;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 2px;

    /* Box Shadow */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.content .box-3{
    min-width: 270px;
    margin: 10px;
    /* border: 1px solid #ccc; */
    border-top: 10px solid #80D856;
    border-radius: 10px;
    padding: 15px;
    letter-spacing: 2px;

    /* Box Shadow */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}


.content .box:hover{
    background: #eee4;
}
.content .box p{
    text-transform: uppercase;
    opacity: 0.7;
}
.confirmed h3,
.confirmed i{
    color: crimson;
}
.recovered h3,
.recovered i{
    color: green;
}
::-webkit-scrollbar{
    display: none;
}

.chart {
    /* border: 1px solid red; */
    /* box-shadow:         3px 3px 5px 6px #ccc; */
    margin: 50px;
    width: 700px;
    margin: 100px auto;
}


/* Navbar */

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #24252B;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #FCFCFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }

  .navbar {
      display: flex;
      justify-content: space-around;
      align-self: center;
  }
  .search-bar {
      margin: 5px;
  }
  
  #date {
      color: #FCFCFF;
  }

  .search-bar input {
      border: 2px solid #FCFCFF;
      border-radius: 25px;
      margin-top: 2px;
      
  }

  .search-bar button {
      border-radius: 25px;
      /* padding: 10px; */
      margin: 5px;
      color: #FCFCFF;
      background-color: #0188A9;
      border: 2px solid #0188A9;
      font-weight: bold;
  }

  .search-bar button:hover {
    color: #0188A9;
    background-color: #FCFCFF;
    border: 2px solid #FCFCFF;
  }


  .con {
      display: flex;
      align-items: center;
  }
  .con p {
      font-weight: bolder;
      font-size: 20px;
      background-color: #0188A9;
      border-radius: 25px;
      padding: 10px;
      margin: 10px;
      color: #FCFCFF;
  }

  .con h2 {
      color: #0188A9;
      /* border: 2px solid #0188A9; */
      border-radius: 25px;
      padding: 10px;
      margin: 10px;
      font-size: 20px;
      margin-left: -12px;
      z-index: -1;
      font-weight: bolder;
      
  }
 
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 390px) {
    .navbar {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .navbar .time {
        display: none;
    }


    .con {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .content {
        display: flex;
        /* flex-grow: initial; */
        /* width: 100%; */
        flex-wrap: wrap;
    }
    .box {
        flex: 1;
        /* justify-self: center; */
    }

    .chart {
        display: flex;
        width: 250px;
        /* height: auto; */
        justify-content: center;
        align-items: baseline;
        margin-top: 300px;
    }
  }

  @media screen and (max-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .navbar .time {
        display: none;
    }


    .con {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .content {
        display: flex;
        /* flex-grow: initial; */
        /* width: 100%; */
        flex-wrap: wrap;
    }
    .box {
        flex: 1;
    
    }

    .chart {
        display: flex;
        width: 500px;
        /* height: auto; */
        justify-content: center;
        align-items: baseline;
        margin-top: 300px;
    }
  }